@charset "ISO-8859-1";
.headline {
  height: 80px;
  background-image: linear-gradient(rgb(28, 29, 28), rgb(82, 78, 72));
  opacity: 0.6;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  text-shadow: 2px 1px white;
}

.slider {
  background-image: linear-gradient(
    rgba(243, 247, 7, 0.5),
    rgba(177, 187, 86, 0.5),
    rgba(243, 247, 7, 0.5)
  );
}
#slider img {
  height: 490px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 100px;
  width: 610px;
  margin-left: 10px;
  box-shadow: 2px 5px 10px black;
  border-radius: 7px;
}
#slide1 {
  text-shadow: 2px 1px black;
}
#slide2 {
  color: black;
}
.intro {
  text-align: center;
  margin: auto auto;
  font-size: large;
  font-weight: bold;
}
.intro h1 {
  text-shadow: 2px 1px black;
}
.me {
  border-style: none;
  background-image: linear-gradient(rgb(179, 193, 201), rgb(235, 245, 247));
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 150px;
  box-shadow: 5px 5px 20px black;
  border-radius: 50px;
}
.swing {
  margin-right: 30px;
}

.other {
  background-image: linear-gradient(rgb(220, 221, 215), rgb(199, 201, 197));
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.other img {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(rgb(179, 193, 201), rgb(235, 245, 247));
}
.other-member {
  border-style: none;
  box-shadow: 5px 2px 12px black;
  background-image: linear-gradient(rgb(179, 193, 201), rgb(235, 245, 247));
}
.other h1 {
  text-shadow: 2px 1px black;
  font-weight: bolder;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.headline h1 {
  font: bold 300% Consolas, Monaco, monospace;
  border-right: 0.1em solid black;
  width: 16.5em;
  width: 130ch;
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(200, end), blink-caret 0.5s step-end;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");

.other h1 {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
.other h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 40px;
  font-family: "Fira Mono", monospace;
  letter-spacing: 10px;
}
.other h1:before,
.other h1:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.other h1:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.other h1:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
